.cari-content p{
  width: auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0.5rem 0 0.5rem 0;
}

.cari-content{
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px grey;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 0 2rem;
}

.hasil-card{
  background-color: white;  
  box-shadow: 0 0 8px grey;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 0 2rem;
}

.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
    .cari-content{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  .cari-content{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 8rem;
  }
  .hasil-card{
    margin: 0 8rem;
  }
}