  .hasil-card{
  background-color: white;  
  box-shadow: 0 0 8px grey;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 0 2rem;
}
  
@media only screen and (min-width: 1024px) { 
  .hasil-card{
    margin: 0 8rem;
  }
}