.footer-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  height: auto;
  padding: 1.6rem;
  line-height: 20px;
  font-size: 14px ;
  font-weight: 700;
}

.footer-list li{
  margin-bottom: 1rem;
  width: auto;
}

.menu-list{
  list-style-type: none;
  padding:0;
  
}

.menu-list a{
  color: black;
  text-decoration: none;
}

.footer-connect{
  margin-bottom: 1rem;
  width: auto;
}

.connect{
  padding: 0 0.25rem;
}

.square{
  width: 100px;
  height: 34px;
  background-color: #0D28A6;
}

@media only screen and (min-width: 768px) {
  .footer-container{
    flex-direction: row;
  }

  .connect{
    padding: 0.25rem;
  }
  .footer-detail{
    width: 40%;
  }
  .footer-detail, .footer-list, .footer-connect, .footer-copyright{
    padding: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
 .footer-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    height: auto;
    padding: 5rem;
  }

  .footer-detail{
    width: 35%;
  }

  .footer-detail p{
    font-size: 14px ;
    font-weight: 700;
  }
  .footer-list li{
    margin-bottom: 0.5rem;
    width: auto;
  }
  .menu-list{
    list-style-type: none;
    padding:0;
  }
}